:root {
  --border: #000000;
  --headerBg: #0a141d;
  --bodyBg: rgb(224, 221, 221);
}

.App {
  margin:0;
  padding: 0;
  width: 100vw;
  height: 100vh;
  text-align: center;
}

.spacer {
  flex: 1;
}

